* text=auto !eol
/DESCRIPTION -text
/NAMESPACE -text
/NEWS -text
R/deprecated.R -text
R/detect_lin_dep_alias.R -text
R/est_cce.R -text
R/est_ggls.R -text
R/est_gmm.R -text
R/est_ldv.R -text
R/est_mg.R -text
R/est_pi.R -text
R/est_plm.R -text
R/est_plm.list.R -text
R/est_vcm.R -text
R/experimental.R -text
R/groupGenerics_pseries.R -text
R/is.pconsecutive_pbalanced.R -text
R/make.pconsecutive_pbalanced.R -text
R/pFormula.R -text
R/test_cd.R -text
R/test_cips.R -text
R/test_general.R -text
R/test_granger.R -text
R/test_serial.R -text
R/test_uroot.R -text
R/tool_argvalues.R -text
R/tool_ercomp.R -text
R/tool_methods.R -text
R/tool_misc.R -text
R/tool_pdata.frame.R -text
R/tool_ranfixef.R -text
R/tool_transformations.R -text
R/tool_vcovG.R -text
/THANKS -text
data/Cigar.rda -text
data/Crime.rda -text
data/EmplUK.rda -text
data/Gasoline.rda -text
data/Grunfeld.rda -text
data/Hedonic.rda -text
data/LaborSupply.rda -text
data/Males.rda -text
data/Parity.rda -text
data/Produc.rda -text
data/RiceFarms.rda -text
data/Snmesp.rda -text
data/SumHes.rda -text
data/Wages.rda -text
inst/CITATION -text
man/Cigar.Rd -text
man/Crime.Rd -text
man/EmplUK.Rd -text
man/Gasoline.Rd -text
man/Grunfeld.Rd -text
man/Hedonic.Rd -text
man/LaborSupply.Rd -text
man/Males.Rd -text
man/Parity.Rd -text
man/Produc.Rd -text
man/RiceFarms.Rd -text
man/Snmesp.Rd -text
man/SumHes.Rd -text
man/Wages.Rd -text
man/aneweytest.Rd -text
man/cipstest.Rd -text
man/cortab.Rd -text
man/detect_lin_dep_alias.Rd -text
man/dynformula.Rd -text
man/ercomp.Rd -text
man/fixef.plm.Rd -text
man/index.Rd -text
man/is.pbalanced.Rd -text
man/is.pconsecutive.Rd -text
man/is.pseries.Rd -text
man/lag_lead_diff.Rd -text
man/make.pbalanced.Rd -text
man/make.pconsecutive.Rd -text
man/model.frame_model.matrix.Rd -text
man/mtest.Rd -text
man/nobs.Rd -text
man/pFormula.Rd -text
man/pFtest.Rd -text
man/pbgtest.Rd -text
man/pbltest.Rd -text
man/pbnftest.Rd -text
man/pbsytest.Rd -text
man/pcce.Rd -text
man/pcdtest.Rd -text
man/pdata.frame.Rd -text
man/pdim.Rd -text
man/pdwtest.Rd -text
man/pggls.Rd -text
man/pgmm.Rd -text
man/pgrangertest.Rd -text
man/pht.Rd -text
man/phtest.Rd -text
man/piest.Rd -text
man/pldv.Rd -text
man/plm-package.Rd -text
man/plm.Rd -text
man/plm.data.Rd -text
man/plmtest.Rd -text
man/pmg.Rd -text
man/pmodel.response.Rd -text
man/pooltest.Rd -text
man/pseries.Rd -text
man/punbalancedness.Rd -text
man/purtest.Rd -text
man/pvar.Rd -text
man/pvcm.Rd -text
man/pwaldtest.Rd -text
man/pwartest.Rd -text
man/pwfdtest.Rd -text
man/pwtest.Rd -text
man/r.squared.Rd -text
man/ranef.plm.Rd -text
man/reexports.Rd -text
man/sargan.Rd -text
man/summary.plm.Rd -text
man/vcovBK.Rd -text
man/vcovDC.Rd -text
man/vcovG.Rd -text
man/vcovHC.Rd -text
man/vcovNW.Rd -text
man/vcovSCC.Rd -text
man/within_intercept.Rd -text
tests/Examples/plm-Ex.Rout.save -text
tests/test_Chow.R -text
tests/test_Chow.Rout.save -text
tests/test_Errors.R -text
tests/test_Errors.Rout.save -text
tests/test_Estimators.R -text
tests/test_Estimators.Rout.save -text
tests/test_Evaluation.R -text
tests/test_Evaluation.Rout.save -text
tests/test_FD_models.R -text
tests/test_FD_models.Rout.save -text
tests/test_IV.R -text
tests/test_IV.Rout.save -text
tests/test_R2_adj_R2.R -text
tests/test_as.data.frame_as.matrix.R -text
tests/test_as.list.pdata.frame.R -text
tests/test_clubSandwich_interoperability.R -text
tests/test_clubSandwich_interoperability.Rout.save -text
tests/test_detect_lin_dep_alias.R -text
tests/test_fitted.plm.R -text
tests/test_fixef.R -text
tests/test_fixef_comp_lm_plm.R -text
tests/test_groupGenerics_pseries.R -text
tests/test_groupGenerics_pseries.Rout.save -text
tests/test_is.pconsecutive.R -text
tests/test_lag_lead.R -text
tests/test_lag_lead.Rout.save -text
tests/test_lagt_leadt.R -text
tests/test_lagt_leadt.Rout.save -text
tests/test_make.pconsecutive_pbalanced.R -text
tests/test_misc.R -text
tests/test_model.frame.R -text
tests/test_model.matrix_effects.R -text
tests/test_model.matrix_pmodel.response.R -text
tests/test_model.matrix_pmodel.response_NA.R -text
tests/test_nested.R -text
tests/test_nested.Rout.save -text
tests/test_pFtest.R -text
tests/test_pFtest.Rout.save -text
tests/test_pbgtest.R -text
tests/test_pbnftest.R -text
tests/test_pbnftest.Rout.save -text
tests/test_pbsytest_unbalanced.R -text
tests/test_pbsytest_unbalanced.Rout.save -text
tests/test_pcdtest.R -text
tests/test_pdata.frame_const_allNA_nonfinite.R -text
tests/test_pdata.frame_extract_class_est_mod.R -text
tests/test_pdata.frame_id_index_more.R -text
tests/test_pdata.frame_print_duplicated_rownames.R -text
tests/test_pdata.frame_subsetting.R -text
tests/test_pdata.frame_subsetting.Rout.save -text
tests/test_pdata.frame_unused_levels.R -text
tests/test_pdiff_fd.R -text
tests/test_pdwtest.R -text
tests/test_pggls.R -text
tests/test_pgmm.R -text
tests/test_pgmm.Rout.save -text
tests/test_pgrangertest.R -text
tests/test_pgrangertest.Rout.save -text
tests/test_phtest_Hausman_regression.R -text
tests/test_phtest_Hausman_regression.Rout.save -text
tests/test_plm.data.R -text
tests/test_plm_na.action.R -text
tests/test_plmtest_unbalanced.R -text
tests/test_plmtest_unbalanced.Rout.save -text
tests/test_preserve_rownames.R -text
tests/test_pseries_subsetting.R -text
tests/test_punbalancedness.R -text
tests/test_purtest.R -text
tests/test_purtest.Rout.save -text
tests/test_pvar.R -text
tests/test_pvcm.R -text
tests/test_pvcm.Rout.save -text
tests/test_pwaldtest.R -text
tests/test_pwaldtest.Rout.save -text
tests/test_pwaldtest_vcovG_attr_cluster.R -text
tests/test_pwaldtest_vcovG_attr_cluster.Rout.save -text
tests/test_pwfdtest_pwartest.R -text
tests/test_pwtest.R -text
tests/test_ranef.R -text
tests/test_ranef.Rout.save -text
tests/test_residuals_overall_fitted_exp.R -text
tests/test_summary.plm_vcov.R -text
tests/test_summary.pseries_character_logical_factor.R -text
tests/test_vcovG_lin_dep.R -text
tests/test_within_intercept.R -text
tests/test_within_intercept.Rout.save -text
vignettes/bibliojss.bib -text
vignettes/plm.rnw -text
