#exportPattern("^[^\\.]")
export(plm,pvcm,pgmm,pggls,plm.data,plmtest,phtest,pFtest,
pvar,pdim,pooltest,dynformula,sargan,mtest,ercomp,pvcovHC,
pbsytest,pdwtest,pbgtest,pbltest,pwartest,pwtest,pwfdtest,pcdtest)
#       ,pcdres)
#       theta.method.list,effect.list,trinst.list,model.list)
import(stats)
import(Formula)
importFrom(kinship,bdsmatrix)
importFrom(sandwich,vcovHC)
importFrom(nlme,fixef)
importFrom(MASS,ginv)
S3method(pdim,data.frame)
S3method(pdim,panelmodel)
S3method(pdim,default)
#S3method(print,indexes)
#S3method(pdim,default)
S3method(print,pdim)
S3method(pvar,data.frame)
#S3method(pvar,matrix)
S3method(pvar,default)
S3method(print,pvar)
S3method(terms,panelmodel)
S3method(print,panelmodel)
#S3method(coef,panelmodel)
S3method(coef,pgmm)
S3method(residuals,panelmodel)
S3method(fitted,panelmodel)
S3method(df.residual,panelmodel)
S3method(vcov,panelmodel)
#S3method(model.matrix,plm)
S3method(summary,plm)
S3method(print,summary.plm)
S3method(summary,pgmm)
S3method(print,summary.pgmm)
S3method(summary,pvcm)
S3method(print,summary.pvcm)
S3method(summary,pggls)
S3method(print,summary.pggls)
S3method(fixef,plm)
S3method(print,fixef)
S3method(summary,fixef)
S3method(print,summary.fixef)
#S3method(plmtest,default)
S3method(pooltest,plm)
S3method(pooltest,formula)
S3method(plmtest,plm)
S3method(plmtest,formula)
S3method(phtest,panelmodel)
S3method(phtest,formula)
S3method(pFtest,plm)
S3method(pFtest,formula)
S3method(vcovHC,panelmodel)
S3method(vcovHC,pgmm)
S3method(print,dynformula)
S3method(pbsytest,formula)
S3method(pbsytest,panelmodel)
S3method(pwtest,formula)
S3method(pwtest,panelmodel)
S3method(pwartest,formula)
S3method(pwartest,panelmodel)
S3method(pdwtest,formula)
S3method(pdwtest,panelmodel)
S3method(pbgtest,formula)
S3method(pbgtest,panelmodel)
S3method(pwfdtest,formula)
S3method(pwfdtest,panelmodel)
S3method(pcdtest,formula)
S3method(pcdtest,panelmodel)
S3method(lag,pserie)
S3method(diff,pserie)
S3method(ercomp,formula)
S3method(ercomp,plm)

