export(plm, pvcm, pgmm, pggls, pht, pcce, pmg, plm.data, plmtest, phtest, pFtest, 
       pvar, pdim, pooltest, dynformula, sargan, mtest, ercomp, pvcovHC,
       pbsytest, pdwtest, pbgtest, pbltest, pwartest, pwtest, pwfdtest, pcdtest,
       pdata.frame, between, Between, Within, pFormula, pmodel.response,
       purtest, cipstest, vcovBK, vcovSCC, r.squared, has.intercept,
       index, fixef, vcovHC)
import("Formula")
importFrom("stats", "lag")
importFrom("bdsmatrix", "bdsmatrix")
importFrom("sandwich", "vcovHC")
importFrom("MASS", "ginv")
importFrom("zoo", "index")
importFrom("nlme", "fixef")
importFrom("nlme", "lme")

#pFormula
S3method("model.frame", "pFormula")
S3method("model.matrix", "pFormula")
S3method("model.matrix", "plm")
S3method("as.Formula", "pFormula")
S3method("pmodel.response", "data.frame")
S3method("pmodel.response", "pFormula")
S3method("pmodel.response", "plm")
# index
S3method("index", "pindex")
S3method("index", "pdata.frame")
S3method("index", "panelmodel")
S3method("index", "pseries")
# pdata.frame
S3method("print", "pdata.frame")
S3method('[', "pdata.frame")
S3method('$', "pdata.frame")
S3method('[[', "pdata.frame")
S3method('$<-', "pdata.frame")
S3method("as.data.frame", "pdata.frame")
# pdim
S3method("pdim", "data.frame")
S3method("pdim", "pdata.frame")
S3method("pdim", "panelmodel")
S3method("pdim", "default")
S3method("print", "pdim")
# pvar
S3method("pvar", "data.frame")
S3method("pvar", "pdata.frame")
S3method("print", "pvar")
# panelmodel
S3method("terms", "panelmodel")
S3method("print", "panelmodel")
S3method("residuals", "panelmodel")
S3method("residuals", "plm")
S3method("fitted", "panelmodel")
S3method("deviance", "panelmodel")
S3method("df.residual", "panelmodel")
S3method("vcov", "panelmodel")
S3method("update", "panelmodel")
S3method("has.intercept", "panelmodel")
#plm
S3method("summary", "plm")
S3method("print", "summary.plm")
S3method("predict", "plm")
S3method("has.intercept", "plm")
S3method("plot", "plm")
#plm.list
S3method("summary", "plm.list")
S3method("print", "summary.plm.list")
#pgmm
S3method("coef", "pgmm")
S3method("summary", "pgmm")
S3method("print", "summary.pgmm")
#pvcm
S3method("summary", "pvcm")
S3method("print", "summary.pvcm")
#pggls
S3method("summary", "pggls")
S3method("print", "summary.pggls")
#pcce
S3method("summary", "pcce")
S3method("print", "summary.pcce")
#pmg
S3method("summary", "pmg")
S3method("print", "summary.pmg")
#pht
S3method("summary", "pht")
S3method("print", "summary.pht")
#fixef
S3method("fixef", "plm")
S3method("print", "fixef")
S3method("summary", "fixef")
S3method("print", "summary.fixef")
# dynformula
S3method("print", "dynformula")
S3method("formula", "dynformula")
# vcovHC
S3method("vcovHC", "plm")
S3method("vcovHC", "pgmm")
# vcovBK
S3method("vcovBK", "plm")
# vcovSCC 
S3method("vcovSCC", "plm")
# pseries
S3method("lag", "pseries")
S3method("diff", "pseries")
S3method("between", "pseries")
S3method("Between", "pseries")
S3method("Within", "pseries")
S3method("print", "pseries")
S3method("summary", "pseries")
S3method("print", "summary.pseries")
S3method("as.matrix", "pseries")
# ercomp
S3method("ercomp", "formula")
S3method("ercomp", "plm")
S3method("print", "ercomp")
#### Tests
# pooltest
S3method("pooltest", "plm")
S3method("pooltest", "formula")
# plmtest
S3method("plmtest", "plm")
S3method("plmtest", "formula")
# phtest
S3method("phtest", "panelmodel")
S3method("phtest", "formula")
# pFtest
S3method("pFtest", "plm")
S3method("pFtest", "formula")
# pbsytest
S3method("pbsytest", "formula")
S3method("pbsytest", "panelmodel")
# pwtest
S3method("pwtest", "formula")
S3method("pwtest", "panelmodel")
# pwartest
S3method("pwartest", "formula")
S3method("pwartest", "panelmodel")
# pdwtest
S3method("pdwtest", "formula")
S3method("pdwtest", "panelmodel")
# pbgtest
S3method("pbgtest", "formula")
S3method("pbgtest", "panelmodel")
# pwfdtest
S3method("pwfdtest", "formula")
S3method("pwfdtest", "panelmodel")
# pcdtest
S3method("pcdtest", "formula")
S3method("pcdtest", "panelmodel")
S3method("pcdtest", "pseries")
# purtest
S3method("print", "purtest")
S3method("summary", "purtest")
S3method("print", "summary.purtest")

